<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Out" target="SYSTEM_OUT">
      <PatternLayout pattern="%-5level: %logger{1}.%M() - %msg%n"/>
    </Console>
  </Appenders>
  
  <Loggers>
    <Logger name="com.mycompany.servletjsp" level="info" additivity="false"> <!-- logger name= 서블릿 패키지에서 발생되는 이름 출력 -->
      <AppenderRef ref="Out"/> <!-- ref 출력되는 로고에 대한 저장소는 out 이다. -->
    </Logger>
 
    <Root level="error">
      <AppenderRef ref="Out"/>
    </Root>
  </Loggers>
</Configuration>
